<ion-header>
  <ion-toolbar>
      <ion-img src="../../assets/icon/left-arrow.svg"></ion-img>
      <span style=" color: #fff" routerLink="/products">Back</span>
    <ion-title>product-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="product-block">
      <div class="img-block">
        <img [src]="imgSrc" alt="">
      </div>
      <div class="product-content">
        <h2>{{title}}</h2>
        <p>{{price}}</p>
      </div>
      <div class="product-description">
        <h4>Product Description</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est libero, convallis porttitor nisl ut,
          interdum scelerisque eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus.
        </p>
      </div>
    </div>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-label>Add to Wish List</ion-label>
          <ion-icon name="heart-empty"></ion-icon>
          <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>
        <ion-tab-button>
          <ion-label>Add to Cart</ion-label>
          <ion-icon name="cart"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-grid>
</ion-content>