<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="main-block">
    <ion-row>
      <ion-col size="4">
        <img src="../../assets/products/photo-1546367564-ade1880f8921.jpg" alt="">
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/products/photo-1546367564-ade1880f8921.jpg" alt="">
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/products/photo-1546367564-ade1880f8921.jpg" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>